<form action="/marketingmanager/add" method="post" enctype="multipart/form-data">
    <h1>Add new MM</h1>
    Name: <input type="text" name="name" id="">
    <br><br>
    Date of Birth: <input type="date" name="dob" id="">
    <br><br>
    Gender: <input type="text" name="gender" id="">
    <br><br>
    Address: <input type="text" name="address" id="">
    <br><br>
    Email: <input type="email" name="email" id="">
    <br><br>
    Password: <input type="text" name="password" id="">
    <br><br>
    Image: <input type="file" name="image" accept="image/*" required>
    <br><br>
  <input  type="submit" value="Add">
</form>